body {
    background: #555;
    color: #eee;
    font-family: sans-serif;
}

p span {
    background-color: black;
    padding: 2px 4px;
    color: violet;
}

.text-center {
    text-align: center;
}